@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

h2 {
  font-family: 'Sacramento', cursive;
  border: 3px solid #7dcfb6;
  padding: 20px;
  text-align: center;
  color: #1A535C;
}
h1 {
  font-family: 'Sacramento', cursive;
  border: 3px solid #7dcfb6;
  padding: 20px;
  text-align: center;
  color: #1A535C;
}

.admin {
  margin: auto;
  width: 100%;
  padding: 20px;
}
.admin-api {
  margin: 10px;
  width: 400px;
  height: 50px;
  padding: 10px;
}

.admin-button {
  border: 3px solid #7dcfb6;
  margin: auto;
  width: 100%;
  padding: 20px;
}

.form-buttons {
  padding: 20px;
  text-align: center;
  color: #1A535C;
}

.admin-panel{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.bubble {
  color: #7dcfb6;
  border-color: #7dcfb6;
}

.navbar{
  background-color: #1A535C;
  color: #E6E8E2;
}

.scanner-form {
  align-items: stretch;
  padding: 5px;
  height: auto;
  width: auto;
}

.links {
  padding: 10px;
  color: #1A535C;
}
.toggle {
  width: 100px;
  height: 100px;
}

.recycleable {
  color: green;
}
img {
  color: green;
  height: 200px;
  width: 250px;
}
.response {
  margin: 15px;

}
.not-recycleable{
  color: red;
}
