@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

h2 {
  font-family: 'Sacramento', cursive;
}

.bubble {
  color: #7dcfb6;
}

.navbar{
  background-color: #1A535C;
  color: #E6E8E2;
}
